config AUTO_UPDATE
	bool "auto update"
	select FS_FAT

config AUTO_SD_UPDATE
        bool "auto sd update"
	depends on AUTO_UPDATE
	depends on !TARGET_SS528V100 && !TARGET_SS625V100 && !TARGET_SS524V100 && !TARGET_SS615V100  && !TARGET_SS522V101 && !TARGET_SS522V100

config AUTO_USB_UPDATE
        bool "auto usb update"
        select USB
	select USB_GADGET
	depends on AUTO_UPDATE

config AUTO_UPDATE_ADAPTATION
	bool "auto update adaptation"
	depends on AUTO_UPDATE
