config CIPHER_ENABLE
	bool "cipher enable"

config KLAD_ENABLE
	bool "klad enable"
	depends on TARGET_SS928V100 || TARGET_SS927V100

config OTP_ENABLE
	bool "otp enable"
	depends on TARGET_SS528V100 || TARGET_SS927V100 ||TARGET_SS928V100 || TARGET_SS625V100 || TARGET_SS524V100 ||  TARGET_SS522V101 || TARGET_SS522V100 || TARGET_SS615V100
